<pcm-webcontent-banner company="dis" [culture]="culture" page="newspage"></pcm-webcontent-banner>
<section>
  <div class="container">
    <dis-inspire-text></dis-inspire-text>
  </div>
</section>
<section>
  <div class="container">
    <dis-inspire-recipes-leaflet></dis-inspire-recipes-leaflet>
  </div>
</section>
<section>
  <div class="container">
    <dis-inspire-news></dis-inspire-news>
  </div>
</section>
<section>
  <div class="container">
    <dis-contact-subscribe></dis-contact-subscribe>
  </div>
</section>
<section>
  <div class="container">
    <dis-products-new></dis-products-new>
  </div>
</section>
<section>
  <div class="container">
    <dis-contact-footer></dis-contact-footer>
  </div>
</section>
