:host {
  display: block;

  section {
    padding: 40px 0px;
  }

  section+section {
    border-top: var(--list-seperator-border)
  }

  section:nth-child(odd) {
    background-color: var(--background-color-alt);
  }
}
