<div class="current-slide" (window:resize)="onResize()" *ngIf="css" [style.background-image]="css" (click)="open()">

</div>
<div class="bottom-container">
  <h2 [innerText]="title"></h2>
  <div class="slide-selectors" *ngIf="slideCount > 1">
    <div class="slide-selector" [attr.id]="'slide-selector-' + i" [ngClass]="{ selected: i === currentIndex }"
      *ngFor="let slide of slides; let i = index" (click)="selectIndex(i)">
      <i class="far fa-fw fa-circle fa-sm"></i>
    </div>
  </div>
</div>
