<pcm-webcontent-banner company="dis" [culture]="culture" page="verifysubscribepage"></pcm-webcontent-banner>
<section style="border:0">
  <div class="container" *ngIf="subscriber && !subscriber.optInOn">
    <h1 translate="pages.verify-subscribe.title"></h1>
    <div class="placeholder">

      <img style="display:block;margin:0 auto"
        src="https://pcm.groupclaes.be/v3/content/dis/website/content-image/48953752" width="300" height="300"
        alt="frans duim">

      <p>
        <b translate="pages.verify-subscribe.description"></b>
      </p>

      <p>
        &nbsp;
      </p>

      <p>
        <span translate="pages.verify-subscribe.preform"></span>
      </p>

      <form novalidate [formGroup]="verifyForm" (submit)="completeSubscribe()">
        <mat-form-field class="personalName" appearance="outline">
          <mat-label>
            <span translate="pages.verify-subscribe.form.personalName"></span>
          </mat-label>
          <input formControlName="personalName" autocomplete="given-name" matInput>
        </mat-form-field><br>
        <mat-form-field class="personalSurname" appearance="outline">
          <mat-label>
            <span translate="pages.verify-subscribe.form.personalSurname"></span>
          </mat-label>
          <input formControlName="personalSurname" autocomplete="family-name" matInput>
        </mat-form-field><br>
        <mat-form-field class="personalCompany" appearance="outline">
          <mat-label>
            <span translate="pages.verify-subscribe.form.personalCompany"></span>
          </mat-label>
          <input formControlName="personalCompany" autocomplete="organization" matInput>
        </mat-form-field><br>
        <mat-form-field class="personalPhone" appearance="outline">
          <mat-label>
            <span translate="pages.verify-subscribe.form.personalPhone"></span>
          </mat-label>
          <input formControlName="personalPhone" autocomplete="tel" matInput>
        </mat-form-field>

        <p style="grid-row: 3;">
          &nbsp;
        </p>

        <div class="confirm">
          <input type="checkbox" formControlName="acceptedOptInTerms">
          <div>&nbsp; &nbsp; &nbsp;</div>
          <p>
            <i>
              <small [innerHtml]="'pages.verify-subscribe.form.acceptedOptInTerms' | translate"></small>
            </i>
          </p>
        </div>
        <button color="primary" [disabled]="verifyForm.invalid" type="submit">
          <span translate="pages.verify-subscribe.form.submit"></span>
        </button>
      </form>
    </div>
  </div>
  <div class="container" *ngIf="subscriber && subscriber.optInOn">
    <h1 translate="components.contact.contact-subscribe.messages.duplicate.title"></h1>
    <p>
      <b translate="components.contact.contact-subscribe.messages.duplicate.message"></b>
    </p>
  </div>
</section>
