<div class="recipes-leaflet-grid">
  <div class="recipes">
    <h2 translate="components.inspire.inspire-recipes-leaflet.block-recipes.title"></h2>
    <p translate="components.inspire.inspire-recipes-leaflet.block-recipes.text"></p>
    <a href="https://recepten.claes-distribution.be" target="_blank"
      [title]="'components.inspire.inspire-recipes-leaflet.block-recipes.button' | translate">
      <button color="primary">
        <i class="fal fa-fw fa-utensils"></i>&nbsp;
        <span translate="components.inspire.inspire-recipes-leaflet.block-recipes.button"></span>
      </button>
    </a>
  </div>
  <div class="leaflet">
    <h2 translate="components.inspire.inspire-recipes-leaflet.block-leaflet.title"></h2>
    <p translate="components.inspire.inspire-recipes-leaflet.block-leaflet.text"></p>
    <a href="https://pcm.groupclaes.be/v3/content/dis/website/month-leaflet/100/{{culture}}" target="_blank"
      [title]="'components.inspire.inspire-recipes-leaflet.block-leaflet.button' | translate">
      <button color="primary">
        <i class="fal fa-fw fa-eye"></i>&nbsp;
        <span translate="components.inspire.inspire-recipes-leaflet.block-leaflet.button"></span>
      </button>
    </a>
  </div>
</div>
