<h3 translate="contactFrom"></h3>
<div class="container">
  <form [formGroup]="contactForm" (submit)="sendQuestion()">
    <mat-form-field class="department" appearance="outline">
      <mat-select placeholder="Select" formControlName="department" name="yeeter">
        <mat-option value="" selected="true">
          <span translate="selectDepartment"></span>
        </mat-option>
        <mat-option value="info">
          <span translate="emailInfo"></span>
        </mat-option>
        <mat-option value="boekhouding">
          <span translate="emailAccounting"></span>
        </mat-option>
        <mat-option value="it">
          <span translate="emailIt"></span>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="subject" appearance="outline">
      <mat-label>
        <span translate="subject"></span>
      </mat-label>
      <input formControlName="subject" name="subject" matInput placeholder="John" required>
    </mat-form-field>
    <mat-form-field class="name" appearance="outline">
      <mat-label>
        <span translate="name"></span>
      </mat-label>
      <input formControlName="name" name="given-name" matInput placeholder="John" autocomplete="given-name" required>
    </mat-form-field>
    <mat-form-field class="email" appearance="outline">
      <mat-label>
        <span translate="email"></span>
      </mat-label>
      <input formControlName="email" name="email" matInput placeholder="john.doe@example.com" autocomplete="email"
        required>
    </mat-form-field>
    <mat-form-field class="phone" appearance="outline">
      <mat-label>
        <span translate="phone"></span>
      </mat-label>
      <input formControlName="phone" name="tel" matInput placeholder="0474237891" autocomplete="tel">
    </mat-form-field>
    <mat-form-field class="question" appearance="outline">
      <mat-label>
        <span translate="question"></span>
      </mat-label>
      <textarea formControlName="question" matInput autocapitalize="sentences" required></textarea>
    </mat-form-field>
    <button mat-stroked-button [disabled]="contactForm.invalid" type="submit">
      <span translate="sendQuestion"></span>
    </button>
  </form>
</div>
