<h3 *ngIf="showTitle" translate="components.products.products-categories.title"></h3>
<i class="fal fa-fw fa-2x fa-circle-notch fa-spin" *ngIf="!categories" style="margin:0 auto 1em;display:block;"></i>
<div class="placeholder">
  <div class="categories-list" *ngIf="showTitle">
    <a *ngFor="let category of categories" class="container" [routerLink]="['/products', category.name[culture]]"
      [queryParams]="{id: category.id}">
      <div class="content" [style]="category.css">
        <div class="category-label dis-color">
          <h4 [innerText]="category.name[culture]"></h4>
        </div>
      </div>
    </a>
  </div>
  <div class="categories-list" *ngIf="!showTitle">
    <a *ngFor="let category of categories"
      href="https://shop.claes-distribution.be/products/{{category.name[culture]}}/{{category.id}}" target="_blank"
      class="container">
      <div class="content" [style]="category.css">
        <div class="category-label dis-color">
          <h4 [innerText]="category.name[culture]"></h4>
        </div>
      </div>
    </a>
  </div>
</div>
