:host {
  display: flex;
  height: 100%;
  flex-flow: column;

  h3 {
    margin: 0 0 .3em;
    text-align: left;
    flex: 0 auto;
  }

  div.placeholder {
    flex: 1 auto
  }

  div.buttons-placeholder {
    flex: 0 auto;
  }
}
