<div class="grid">
  <div href="" class="container">
    <div class="content">
      <dis-order-method-shop></dis-order-method-shop>
    </div>
  </div>
  <div href="" class="container">
    <div class="content">
      <dis-order-method-app></dis-order-method-app>
    </div>
  </div>
  <div href="" class="container">
    <div class="content">
      <dis-order-method-showroom></dis-order-method-showroom>
    </div>
  </div>
  <div href="" class="container">
    <div class="content">
      <dis-order-method-agent></dis-order-method-agent>
    </div>
  </div>
  <div href="" class="container">
    <div class="content">
      <dis-order-method-support></dis-order-method-support>
    </div>
  </div>
  <div href="" class="container">
    <div class="content">
      <dis-order-method-edi></dis-order-method-edi>
    </div>
  </div>
</div>
