<section class="product-list products-spotlight" *ngIf="spotlightProducts && spotlightProducts.length === 4">
  <h3>
    <div class="lazy-loading" style="width: 210px" *ngIf="!spotlightProducts || !spotlightProducts[0]"></div>
    <div class="loaded-content" *ngIf="spotlightProducts && spotlightProducts[0]"
      translate="components.home.home-spotlight-products.title">
    </div>
  </h3>
  <div class="product-list">
    <article class="product-item" *ngFor="let product of spotlightProducts"
      (click)="setActiveProduct(product.id, 'spotlight')">
      <div class="lazy-loading-content" *ngIf="!product">
        <img src="/assets/placeholder.png" alt="loading...">
        <header>
          <div class="placeholder"></div>
        </header>
        <aside>
          <div class="placeholder"></div>
        </aside>
        <button class="button" color="primary">
          &nbsp;
        </button>
      </div>
      <div class="loaded-content" *ngIf="product">
        <img [src]="product.url" [alt]="product.name[culture]">
        <header [innerText]="product.name[culture]"></header>
        <!-- <aside *ngIf="product.price > 0" [innerText]="product.price | currency:'EUR':'symbol-narrow':'0.2-2':'nl-BE'">
        </aside>
        <aside *ngIf="product.price <= 0" translate="price.request"></aside> -->
        <a href="https://shop.claes-distribution.be/products?productId={{ product.id }}" target="_blank">
          <button class="button" color="primary" (click)="$event.stopPropagation()">
            <i class="fal fa-fw fa-eye"></i>
            <span translate="components.home.home-spotlight-products.button"></span>
          </button>
        </a>
      </div>
    </article>
  </div>
</section>
