:host {
  display: block;

  section {
    padding: 1em 1em 3em;

    div.actions {
      a {
        display: inline-block;
        padding: .35em 1.2em;
        border-radius: 4px;
        margin-right: .3em;
        margin-bottom: .3em;
        cursor: pointer;
        color: White;
        transition: 180ms ease-in-out all;
        margin-top: 1px;
      }
    }

    div.grid-2 {
      display: grid;
      grid-template-columns: 1fr;

      div.text {
        grid-column: 1;
        grid-row: 1;
      }

      div.image {
        grid-column: 1;
        grid-row: 2;

        img {
          max-height: 350px;
          display: block;
          margin: 0 auto;
        }
      }

      @media screen and (min-width: 600px) {
        grid-template-columns: 1fr 1fr;

        div.image {
          grid-column: 2;
          grid-row: 1;
        }
      }
    }

    div.opening {
      display: block;
      margin: 0 auto;

      span.title {
        font-size: 17px;
        margin-top: .7em;
        margin-bottom: .5em;
        display: block;
      }

      div.opening-grid {
        display: grid;
        grid-column-gap: .25em;
        grid-template-columns: auto 1fr;
      }
    }
  }

  section:nth-child(odd) {
    background-color: #f4f5f7;

    @media (prefers-color-scheme:dark) {
      background-color: #111214;
    }
  }
}
