<section>
  <div class="container">
    <h4 style="margin:1em 0" translate="orderTitle"></h4>
  </div>
  <div class="container text">
    <p translate="orderText"></p>
  </div>
</section>
<section>
  <div class="container order-methods">
    <h5>Online bestellen</h5>
    <div class="grid-2">
      <div class="text">
        <div>
          Gebruik onze verniewde webshop en geniet van tal van voordelen.<br />
          <a href="https://shop.claes-distribution.be/login" target="_blank">https://shop.claes-distribution.be</a>
          <ul>
            <li>Eenvoudig en snel bestellen</li>
            <li>Uitgebreide zoek en filter mogelijkheden</li>
            <li>Beheer uw favoriete producten</li>
            <li>Beheren van persoonlijke afdelingen</li>
            <li>Blijf op de hoogte van promoties en nieuwigheden</li>
            <li>Uitgebreide productcatalogus</li>
            <li>Wijzig je contact-voorkeuren en gegevens</li>
          </ul>
          Beschikbaar op alle moderne desktop en mobiele browsers.
          <br />
          <br />
        </div>
        <div class="actions">
          <a class="button dis-bgcolor" href="https://shop.claes-distribution.be/login?action=signin" target="_blank"
            translate="signinButton"></a>
          <a class="button dis-bgcolor" href="https://shop.claes-distribution.be/login?action=signon" target="_blank"
            translate="signonButton"></a>
          <a class="button dis-bgcolor" href="https://shop.claes-distribution.be/login?action=signup" target="_blank"
            translate="signupButton"></a>
        </div>
      </div>
      <div class="image">
        <img src="https://pcm.groupclaes.be/v2/content/dis/website/content-image/20191010/{{ culture }}"
          alt="webshop screenshot">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container app-method">
    <h5>Mobiele app</h5>
    <div class="grid-2">
      <div class="text">
        Installeer nu de Claes-App en profiteer van tal van voordelen
        <ul>
          <li>Eenvoudig en snel bestellen</li>
          <li>Blijf op de hoogte van promoties en nieuwigheden</li>
          <li>Uitgebreide productcatalogus</li>
          <li>Overheerlijke recepten</li>
          <li>Offline beschikbaarheid</li>
        </ul>
        Beschikbaar voor tablet:

        Indien u gebruik wenst te maken van deze applicatie.
        Dient u zich in te loggen met een e-mailadres en de persoonlijke registratiecode die u op uw facturen kan
        vinden.<br /><br />
        Hulp nodig bij het installeren? Download de handleiding <a
          href="https://pcm.groupclaes.be/v2/content/dis/website/content-document/110">hier</a>!
      </div>
      <div class="image">
        <img src="https://pcm.groupclaes.be/v2/content/dis/website/content-image/20191020/{{ culture }}"
          alt="app screenshot">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container store-method">
    <h5>Showroom</h5>
    <div class="grid-2">
      <div class="text">
        <div>
          Overtuig uzelf van onze kwaliteit en service in onze showroom en laat u adviseren door ons vakkundig
          personeel. Heeft u gevonden wat u zocht? Plaats dan uw bestelling en neem deze onmiddellijk mee indien de
          producten voorradig zijn.<br /><br />
        </div>
        <div class="opening store-opening">
          <span class="title">
            <i class="fal fa-fw fa-bags-shopping fa-lg"></i>
            &nbsp;<span translate="openingHours"></span>&nbsp;<span translate="openingStore"
              style="text-transform:lowercase"></span>
          </span>
          <div class="opening-grid">
            <span class="day" translate="monday"></span>
            <span class="period">: 08:00 - 12:00 | 13:00 - 18:00</span>
            <span class="day" translate="tuesday"></span>
            <span class="period">: 08:00 - 12:00 | 13:00 - 18:00</span>
            <span class="day" translate="wednesday"></span>
            <span class="period">: 08:00 - 12:00 | 13:00 - 18:00</span>
            <span class="day" translate="thursday"></span>
            <span class="period">: 08:00 - 12:00 | 13:00 - 18:00</span>
            <span class="day" translate="friday"></span>
            <span class="period">: 08:00 - 12:00 | 13:00 - 17:00</span>
          </div>
        </div>
      </div>
      <div class="image">
        <img src="https://pcm.groupclaes.be/v2/content/dis/website/content-image/20191030/{{ culture }}"
          alt="store screenshot">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container agent-method">
    <h5>Persoonlijk bezoek</h5>
    <div>
      Behoefte aan direct contact met je Claes Distribution verantwoordelijke voor jouw regio?<br /><br />
      Ons hoofdkantoor verwijst je met veel plezier door:<br /><br />
      <a href="mailto:info@claes-distribution.be">info@claes-distribution.be</a><br />
      <a href="tel:+32011456200">+32(0)11 45 62 00</a>
    </div>
  </div>
</section>
<section>
  <div class="container email-method">
    <h5>E-mail bericht</h5>
    <div>
      Offerte aanvragen? Een bestelling plaatsen?<br />
      Contacteer onze klantendienst via mailadres <a
        href="mailto:info@claes‑distribution.be">info@claes‑distribution.be</a>.
    </div>
  </div>
</section>
<section>
  <div class="container phone-method">
    <h5>Telefonisch</h5>
    <div>
      Wilt u telefonisch bestellen of heeft u speciefieke wensen/vragen?<br />

      Dan kan u onze vriendelijke medewerkers contacteren via <a href="tel:+32011456200">+32(0)11 45 62 00</a>.
    </div>
  </div>
</section>
<section>
  <div class="container edi-method">
    <h5>EDI bericht</h5>
    <div>
      Electronic data interchange of EDI bied mogelijkheiden voor elektroniche uitwisseling van orders, facturen,
      berichten of bevestigingen.
      Voor vragen i.v.m. de mogelijkheden van EDI kan u terecht bij onze IT afdeling via mailadres <a
        href="mailto:it@claes-distribution.be">it@claes-distribution.be</a>.
    </div>
  </div>
</section>
