<section>
  <div class="container">
    <h4 style="margin:1em 0" translate="orderTitle"></h4>
  </div>
  <div class="container text">
    <p translate="orderText"></p>
  </div>
</section>
<section>
  <div class="container order-methods">
    <h5 translate="onlineTitle"></h5>
    <div class="grid-2">
      <div class="text">
        <div>
          <span translate="onlineText1"></span><br />
          <a href="https://shop.claes-distribution.be/login" target="_blank">https://shop.claes-distribution.be</a>
          <ul>
            <li translate="onlineLi1"></li>
            <li translate="onlineLi2"></li>
            <li translate="onlineLi3"></li>
            <li translate="onlineLi4"></li>
            <li translate="onlineLi5"></li>
            <li translate="onlineLi6"></li>
            <li translate="onlineLi7"></li>
          </ul>
          <p translate="onlineText2"></p>
        </div>
        <div class="actions">
          <a class="button dis-bgcolor" href="https://shop.claes-distribution.be/login?action=signin" target="_blank"
            translate="signinButton"></a>
          <a class="button dis-bgcolor" href="https://shop.claes-distribution.be/login?action=signon" target="_blank"
            translate="signonButton"></a>
          <a class="button dis-bgcolor" href="https://shop.claes-distribution.be/login?action=signup" target="_blank"
            translate="signupButton"></a>
        </div>
      </div>
      <div class="image">
        <img src="https://pcm.groupclaes.be/v2/content/dis/website/content-image/20191010/{{ culture }}"
          alt="webshop screenshot">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container app-method">
    <h5 translate="appTitle"></h5>
    <div class="grid-2">
      <div class="text">
        <p translate="appText1"></p>
        <ul>
          <li translate="appLi1"></li>
          <li translate="appLi2"></li>
          <li translate="appLi3"></li>
          <li translate="appLi4"></li>
          <li translate="appLi5"></li>
        </ul>
        <p translate="appText2"></p>
        <p>
          <span translate="appText3"></span>
          <a href="https://pcm.groupclaes.be/v2/content/dis/website/content-document/110">download</a>!
        </p>
      </div>
      <div class="image">
        <img src="https://pcm.groupclaes.be/v2/content/dis/website/content-image/20191020/{{ culture }}"
          alt="app screenshot">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container store-method">
    <h5 translate="storeTitle"></h5>
    <div class="grid-2">
      <div class="text">
        <div>
          <span translate="storeText"></span><br /><br />
        </div>
        <div class="opening store-opening">
          <span class="title">
            <i class="fal fa-fw fa-bags-shopping fa-lg"></i>
            &nbsp;<span translate="openingHours"></span>&nbsp;<span translate="openingStore"
              style="text-transform:lowercase"></span>
          </span>
          <div class="opening-grid">
            <span class="day" translate="monday"></span>
            <span class="period">: 08:00 - 12:00 | 13:00 - 18:00</span>
            <span class="day" translate="tuesday"></span>
            <span class="period">: 08:00 - 12:00 | 13:00 - 18:00</span>
            <span class="day" translate="wednesday"></span>
            <span class="period">: 08:00 - 12:00 | 13:00 - 18:00</span>
            <span class="day" translate="thursday"></span>
            <span class="period">: 08:00 - 12:00 | 13:00 - 18:00</span>
            <span class="day" translate="friday"></span>
            <span class="period">: 08:00 - 12:00 | 13:00 - 17:00</span>
          </div>
        </div>
      </div>
      <div class="image">
        <img src="https://pcm.groupclaes.be/v2/content/dis/website/content-image/20191030/{{ culture }}"
          alt="store screenshot">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container agent-method">
    <h5 translate="agentTitle"></h5>
    <div>
      <span translate="agentText1"></span><br /><br />
      <span translate="agentText2"></span><br />
      <a href="mailto:info@claes-distribution.be">info@claes-distribution.be</a><br />
      <a href="tel:+32011456200">+32(0)11 45 62 00</a>
    </div>
  </div>
</section>
<section>
  <div class="container email-method">
    <h5 translate="mailTitle"></h5>
    <div>
      <span translate="mailText1"></span><br />
      <span translate="mailText2"></span><a href="mailto:info@claes-distribution.be">info@claes‑distribution.be</a>.
    </div>
  </div>
</section>
<section>
  <div class="container phone-method">
    <h5 translate="phoneTitle"></h5>
    <div>
      <span translate="phoneText1"></span><br />
      <span translate="phoneText2"></span><a href="tel:+32011456200">+32(0)11 45 62 00</a>.
    </div>
  </div>
</section>
<section>
  <div class="container edi-method">
    <h5 translate="ediTitle"></h5>
    <div>
      <span translate="ediText"></span><a href="mailto:it@claes-distribution.be">it@claes-distribution.be</a>.
    </div>
  </div>
</section>
