<div class="container">
  <div class="placeholder">
    <h2 translate="aboutOurAssets"></h2>
    <div class="about-our-assets">
      <h4 translate="aboutOurAssetsTitle1"></h4>
      <p translate="aboutOurAssetsText1"></p>
      <h4 translate="aboutOurAssetsTitle2"></h4>
      <p translate="aboutOurAssetsText2"></p>
      <ul>
        <li>
          <b class="capt" translate="aboutOurAssetsCategory1"></b>
          <span translate="aboutOurAssetsCategory1Text"></span>
        </li>
        <li>
          <b class="capt" translate="aboutOurAssetsCategory2"></b>
          <span translate="aboutOurAssetsCategory2Text"></span>
        </li>
        <li>
          <b class="capt" translate="aboutOurAssetsCategory3"></b>
          <span translate="aboutOurAssetsCategory3Text"></span>
        </li>
        <li>
          <b class="capt" translate="aboutOurAssetsCategory4"></b>
          <span translate="aboutOurAssetsCategory4Text"></span>
        </li>
        <li>
          <b class="capt" translate="aboutOurAssetsCategory5"></b>
          <span translate="aboutOurAssetsCategory5Text"></span>
        </li>
        <li>
          <b class="capt" translate="aboutOurAssetsCategory6"></b>
          <span translate="aboutOurAssetsCategory6Text"></span>
        </li>
        <li>
          <b class="capt" translate="aboutOurAssetsCategory7"></b>
          <span translate="aboutOurAssetsCategory7Text"></span>
        </li>
      </ul>
      <p>
        <span translate="aboutOurAssetsText3"></span>
        <a href="https://www.claes-machines.be" target="_blank">
          <span class="mac-color" translate="mac"></span>
        </a>
      </p>
      <h4 translate="aboutOurAssetsTitle3"></h4>
      <p translate="aboutOurAssetsText4"></p>
      <p translate="aboutOurAssetsText5"></p>
      <p translate="aboutOurAssetsText6"></p>
      <p translate="aboutOurAssetsText7"></p>
      <h4 translate="aboutOurAssetsTitle4"></h4>
      <p translate="aboutOurAssetsText8"></p>
      <a href="https://pcm.groupclaes.be/v2/content/dis/website/content-document/220" target="_blank">
        <img src="https://pcm.groupclaes.be/v2/content/dis/website/content-image/220" height="120">
      </a>
      <p translate="aboutOurAssetsText14"></p>
      <a href="https://pcm.groupclaes.be/v2/content/dis/website/content-document/230" target="_blank">
        <img src="https://pcm.groupclaes.be/v2/content/dis/website/content-image/230" height="120">
      </a>
      <p translate="aboutOurAssetsText9"></p>
      <h4 translate="aboutOurAssetsTitle5"></h4>
      <p translate="aboutOurAssetsText0"></p>
      <p translate="aboutOurAssetsText10"></p>
      <p translate="aboutOurAssetsText11"></p>
      <p translate="aboutOurAssetsText12"></p>
      <p translate="aboutOurAssetsText13"></p>
    </div>
  </div>
</div>
