<mat-toolbar color="primary">
  <a class="menu-link-button menu-button" #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="mobileMenu">
    <i class="far fa-fw fa-lg fa-bars"></i>
  </a>
  <a class="menu-link-button logo" routerLink="" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
    <pcm-website-logo company="dis"></pcm-website-logo>
  </a>
  <div class="grid-spacer"></div>
  <div class="grid-m">
    <a class="menu-link-button" routerLink="" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
      <i class="fal fa-fw fa-lg fa-home"></i>
      <!-- <span class="title" translate="dis"></span> -->
    </a>
    <a class="menu-link-button" routerLink="order" routerLinkActive="active">
      <span translate="menuOrder"></span>
    </a>
    <a class="menu-link-button" href="https://www.groupclaes.be/vacancy" target="_blank">
      <span translate="menuVacancies"></span>
    </a>
    <a class="menu-link-button" routerLink="about" routerLinkActive="active">
      <span translate="menuAbout"></span>
    </a>
    <a class="menu-link-button" routerLink="contact" routerLinkActive="active">
      <span translate="menuContact"></span>
    </a>
  </div>
</mat-toolbar>
<div class="spacer"></div>
<mat-menu #mobileMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item routerLink="" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
    <span translate="home"></span>
  </button>
  <button mat-menu-item routerLink="order" routerLinkActive="active">
    <span translate="menuOrder"></span>
  </button>
  <button mat-menu-item href="https://www.groupclaes.be/vacancy" target="_blank">
    <span translate="menuVacancies"></span>
  </button>
  <button mat-menu-item routerLink="about" routerLinkActive="active">
    <span translate="menuAbout"></span>
  </button>
  <button mat-menu-item routerLink="contact" routerLinkActive="active">
    <span translate="menuContact"></span>
  </button>
</mat-menu>
