<mat-toolbar color="primary">
  <a class="menu-link-button logo" routerLink="" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
    <pcm-website-logo company="dis"></pcm-website-logo>
  </a>
  <div class="grid-spacer"></div>
  <div class="grid-m">
    <a class="menu-link-button" routerLink="" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
      <span class="title" translate="dis"></span>
    </a>
    <a class="menu-link-button" routerLink="order" routerLinkActive="active">
      <span translate="menuOrder"></span>
    </a>
    <a class="menu-link-button" href="https://www.groupclaes.be/vacancy" target="_blank">
      <span translate="menuVacancies"></span>
    </a>
    <a class="menu-link-button" routerLink="about" routerLinkActive="active">
      <span translate="menuAbout"></span>
    </a>
    <a class="menu-link-button" routerLink="contact" routerLinkActive="active">
      <span translate="menuContact"></span>
    </a>
  </div>
</mat-toolbar>
<div class="spacer"></div>
