<div></div>
<section>
  <div class="container">
    <h1 [translate]="categoryTitle"></h1>
    <div class="placeholder">
      <p>
        <b [translate]="categoryDescription"></b>
      </p>
    </div>
    <a href="#" (click)="$event.preventDefault();goBack()"> <i class="fal fa-fw fa-angle-left"></i>
      <span translate="pages.product-categories.return-overview"></span>
    </a>
    <br>
    <br>

    <dis-products-categories [parent]="categoryId"></dis-products-categories>
  </div>
</section>
