<div class="recipes-news-grid">
  <div class="recipes">
    <h2 translate="components.home.home-recipes-news.block-recipes.title"></h2>
    <img src="https://pcm.groupclaes.be/v3/content/dis/website/content-image/104162143955494" alt="">
    <p translate="components.home.home-recipes-news.block-recipes.text"></p>
    <a href="https://recepten.claes-distribution.be" target="_blank"
      [title]="'components.home.home-recipes-news.block-recipes.button' | translate">
      <button color="primary">
        <i class="fal fa-fw fa-utensils"></i>&nbsp;
        <span translate="components.home.home-recipes-news.block-recipes.button"></span>
      </button>
    </a>
  </div>
  <div class="news">
    <h2 translate="components.home.home-recipes-news.block-news.title"></h2>
    <img src="https://pcm.groupclaes.be/v3/content/dis/website/content-image/127882819014434" alt="">
    <p translate="components.home.home-recipes-news.block-news.text"></p>
    <a [routerLink]="['/inspire']" [title]="'components.home.home-recipes-news.block-news.button' | translate">
      <button color="primary">
        <i class="fal fa-fw fa-eye"></i>&nbsp;
        <span translate="components.home.home-recipes-news.block-news.button"></span>
      </button>
    </a>
  </div>
</div>
