<h3 translate="components.contact.contact-opening-hours.title"></h3>
<div class="container">
  <div class="opening office-opening">
    <span class="title">
      <i class="fal fa-fw fa-phone-office fa-lg"></i>&nbsp;<span
        translate="components.contact.contact-opening-hours.offices"></span>
    </span>
    <div class="opening-grid">
      <span class="day" translate="days.short.monday"></span>
      <span class="period">: 08:00 - 12:00 | 13:00 - 17:00</span>
      <span class="day" translate="days.short.tuesday"></span>
      <span class="period">: 08:00 - 12:00 | 13:00 - 17:00</span>
      <span class="day" translate="days.short.wednesday"></span>
      <span class="period">: 08:00 - 12:00 | 13:00 - 17:00</span>
      <span class="day" translate="days.short.thursday"></span>
      <span class="period">: 08:00 - 12:00 | 13:00 - 17:00</span>
      <span class="day" translate="days.short.friday"></span>
      <span class="period">: 08:00 - 12:00 | 13:00 - 16:00</span>
    </div>
  </div>
  <div class="opening store-opening">
    <span class="title">
      <i class="fal fa-fw fa-bags-shopping fa-lg"></i>&nbsp;<span
        translate="components.contact.contact-opening-hours.store"></span>
    </span>
    <div class="opening-grid">
      <span class="day" translate="days.short.monday"></span>
      <span class="period">: 08:00 - 12:00 | 13:00 - 18:00</span>
      <span class="day" translate="days.short.tuesday"></span>
      <span class="period">: 08:00 - 12:00 | 13:00 - 18:00</span>
      <span class="day" translate="days.short.wednesday"></span>
      <span class="period">: 08:00 - 12:00 | 13:00 - 18:00</span>
      <span class="day" translate="days.short.thursday"></span>
      <span class="period">: 08:00 - 12:00 | 13:00 - 18:00</span>
      <span class="day" translate="days.short.friday"></span>
      <span class="period">: 08:00 - 12:00 | 13:00 - 17:00</span>
    </div>
  </div>
  <div class="opening wharehouse-opening">
    <span class="title">
      <i class="fal fa-fw fa-truck fa-lg"></i>&nbsp;<span
        translate="components.contact.contact-opening-hours.wharehouse"></span>
    </span>
    <div class="opening-grid">
      <span class="day" translate="days.short.monday"></span>
      <span class="period">: 08:00 - 15:00</span>
      <span class="day" translate="days.short.tuesday"></span>
      <span class="period">: 08:00 - 15:00</span>
      <span class="day" translate="days.short.wednesday"></span>
      <span class="period">: 08:00 - 15:00</span>
      <span class="day" translate="days.short.thursday"></span>
      <span class="period">: 08:00 - 15:00</span>
      <span class="day" translate="days.short.friday"></span>
      <span class="period">: 08:00 - 12:00</span>
    </div>
  </div>
</div>
