<pcm-webcontent-banner company="dis" [culture]="culture" page="aboutpage"></pcm-webcontent-banner>
<section>
  <div class="container">
    <dis-about-text></dis-about-text>
  </div>
</section>
<section>
  <div class="container">
    <dis-about-pride></dis-about-pride>
  </div>
</section>
<section>
  <div class="container">
    <dis-about-video></dis-about-video>
  </div>
</section>
<section>
  <div class="container">
    <dis-about-companies></dis-about-companies>
  </div>
</section>
<section>
  <div class="container">
    <dis-about-mission></dis-about-mission>
  </div>
</section>
<section>
  <div class="container">
    <dis-about-career></dis-about-career>
  </div>
</section>
