<h3 translate="components.home.home-leaflet.title"></h3>
<div class="placeholder">
  <p translate="components.home.home-leaflet.text"></p>

  <a href="https://pcm.groupclaes.be/v3/content/dis/website/month-leaflet/100/{{culture}}" target="_blank"
    [title]="'components.inspire.inspire-recipes-leaflet.block-leaflet.button' | translate">
    <button color="primary">
      <i class="fal fa-fw fa-eye"></i>&nbsp;<span translate="components.home.home-leaflet.button"></span>
    </button>
  </a>
</div>
