<h3 translate="contactInfo"></h3>
<div class="container">
  <div class="info address-info">
    <h5>
      <i class="fal fa-fw fa-building"></i>&nbsp;<span translate="contactAddress"></span>
    </h5>
    <p class="content">
      Beverlosesteenweg 128<br />
      3583 Paal-Beringen<br />
      <span translate="belgium"></span>
    </p>
  </div>
  <div class="info email-info">
    <h5>
      <i class="fal fa-fw fa-envelope"></i>&nbsp;<span translate="contactEmail"></span>
    </h5>
    <p class="content">
      <span translate="contactCommon"></span>:
      <a href="mailto:info@claes-distribution.be">info@claes-distribution.be</a><br />
      <span translate="contactAccounting"></span>:
      <a href="mailto:boekhouding@claes-distribution.be">boekhouding@claes-distribution.be</a>
    </p>
  </div>
  <div class="info phone-info">
    <h5>
      <i class="fal fa-fw fa-phone"></i>&nbsp;<span translate="contactPhone"></span>
    </h5>
    <p class="content">
      <span translate="contactCommon"></span>:
      <a href="tel:003211456200">+32 11 45 62 00</a><br />
      <span translate="contactAccounting"></span>:
      <a href="tel:003211456218">+32 11 45 62 18</a><br />
    </p>
  </div>
  <div class="info fax-info">
    <h5>
      <i class="fal fa-fw fa-fax"></i>&nbsp;<span translate="contactFax"></span>
    </h5>
    <p class="content">
      <span translate="contactCommon"></span>:
      +32 11 43 26 27<br />
      <span translate="contactAccounting"></span>:
      +32 11 45 62 13
    </p>
  </div>
</div>
