// stylelint-disable-next-line selector-max-universal
* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  background-color: var(--background-color);
  color: var(--color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-weight: 100;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

h1 {
  font-size: 4em
}

h2 {
  font-size: 2.5em
}

h3 {
  font-size: 2em
}

h4 {
  font-size: 1.75em
}

h5 {
  font-size: 1.5em;
  line-height: 1.5em
}

h6 {
  font-size: 1.25em;
  line-height: 1.25em
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #329270;
}

.emphasize {
  font-style: italic;
  color: #666;
}

span.text-capitalize {
  display: inline-block;
}

.text-capitalize {
  text-transform: lowercase;

  &::first-letter {
    text-transform: uppercase;
  }

  &:first-letter {
    text-transform: uppercase;
  }
}

.dis-color {
  color: var(--company-distribution-color);
}

.mac-color {
  color: var(--company-machines-color);
}

.gro-color {
  color: var(--company-groupclaes-color);
}

.dis-bgcolor {
  background-color: var(--company-distribution-color);
}

.mac-bgcolor {
  background-color: var(--company-machines-color);
}

.gro-bgcolor {
  background-color: var(--company-groupclaes-color);
}

input[type="button"],
button,
.button {
  border: 1px solid #999;
  background-color: #EEE;
  border-radius: 4px;
  padding: 8px 14px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  color: #333;
  transition: 80ms ease-in-out all;

  &:hover {
    color: white;
    background-color: #999;
  }

  &[color="primary"] {
    border-color: #24704C;
    background-color: #40ab86;
    color: white;

    &.icon-button {
      background-color: transparent;
      border: none;
      color: #40ab86;
    }

    &:hover {
      background-color: #24704C;

      &.icon-button {
        background-color: #ddd;
      }
    }
  }

  &[color="light"] {
    background-color: #a5a5a5;
  }

  &[color="accent"] {
    border-color: #329270;
    background-color: #75a78e;
    color: white;

    &:hover {
      background-color: #329270;
    }
  }

  &[color="warn"] {
    border-color: #a82f2f;
    background-color: #f44336;
    color: white;

    &:hover {
      background-color: #a82f2f;
    }
  }

  &[disabled] {
    border-color: #777;
    background-color: #bbb;
    color: #777;
    pointer-events: none;
  }

  a {
    color: inherit;
  }
}
