@use '~@angular/material'as mat;

mat.$green-palette: (50: #E8F5E9,
  100: #C8E6C9,
  200: #A5D6A7,
  300: #81C784,
  400: #66BB6A,
  500: #75a78e,
  600: #43A047,
  700: #3B6E4F,
  800: #2E7D32,
  900: #1B5E20,
  A100: #B9F6CA,
  A200: #69F0AE,
  A400: #00E676,
  A700: #3B6E4F,
  contrast: (50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: rgba(black, 0.87),
  ));

$app-color: mat.define-palette(mat.$green-palette, 500, 700, 900);
$app-accent: mat.define-palette(mat.$light-green-palette);

// The warn palette is optional (defaults to red).
$app-warn: mat.define-palette(mat.$red-palette);
// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat.define-light-theme($app-color, $app-accent, $app-warn);
$custom-typography: mat.define-typography-config($font-family: 'Nunito');

@include mat.all-component-typographies($custom-typography);
@include mat.all-component-themes($app-theme);

* {
  --background-color: #ffffff;
  --color: #222222;
  --background-color-alt: #f4f5f7;

  --primary-color: #40ab86;

  --list-seperator-border: 1px solid #d4d4d4;
  --list-seperator-border-color: #d4d4d4;


  --control-background-color: #ffffff;
  --control-opaque-background-color: rgba(255, 255, 255, 0.85);
  --control-color: #333333;
  --control-border: 1px solid rgba(0, 0, 0, 0.1);

  --control-hover-background-color: #e9e9e9;
  --control-hover-color: #222222;
  --control-hover-box-shadow: inset 0 0 40px 40px rgba(0, 0, 0, .7);

  --nav-shadow: 0 2px 6px rgba(21, 21, 21, .13);
  --nav-inset-shadow: inset 0 0 14px 3px rgba(21, 21, 21, .13);

  --company-distribution-color: #01633a;
  --company-machines-color: #283480;
  --company-groupclaes-color: #49545C;
}

@media screen and (prefers-color-scheme: dark) {
  * {
    --background-color: #000000;
    --color: #dddddd;
    --background-color-alt: #212223;


    --list-seperator-border: 1px solid #454545;
    --list-seperator-border-color: #454545;


    --control-background-color: #000000;
    --control-opaque-background-color: rgba(0, 0, 0, 0.75);
    --control-color: #dddddd;
    --control-border: 1px solid rgba(255, 255, 255, 0.2);

    --control-hover-background-color: #333333;
    --control-hover-color: #ffffff;
    --control-hover-box-shadow: inset 0 0 40px 40px rgba(255, 255, 255, .85);

    --nav-shadow: 0 0 2px 6px rgba(239, 239, 239, .13);
    --nav-inset-shadow: inset 0 0 14px 3px rgba(239, 239, 239, .26);

    --company-distribution-color: #0b8a55;
    --company-machines-color: #5165ec;
    --company-groupclaes-color: #777e83;
  }
}
