// stylelint-disable-next-line selector-max-universal
* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  background-color: white;
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-weight: 100;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

h1 {
  font-size: 4em
}

h2 {
  font-size: 2.5em
}

h3 {
  font-size: 2em
}

h4 {
  font-size: 1.75em
}

h5 {
  font-size: 1.5em;
  line-height: 1.5em
}

h6 {
  font-size: 1.25em;
  line-height: 1.25em
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #039be5;
}

.emphasize {
  font-style: italic;
  color: #666;
}

span.text-capitalize {
  display: inline-block;
}

.text-capitalize {
  text-transform: lowercase;

  &::first-letter {
    text-transform: uppercase;
  }

  &:first-letter {
    text-transform: uppercase;
  }
}

.dis-color {
  color: #01633a;
}

.mac-color {
  color: #283480;
}

.gro-color {
  color: #49545C;
}

.dis-bgcolor {
  background-color: #01633a;
}

.mac-bgcolor {
  background-color: #283480;
}

.gro-bgcolor {
  background-color: #49545C;
}

mat-sidenav-content {
  div.test:nth-last-child(1) {
    min-height: calc(100vh - 64px);
    padding: 1em;
  }
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(0, 0, 0, 0.2);
}

.mat-option:hover:not(.mat-option-disabled),
.mat-option:focus:not(.mat-option-disabled) {
  background-color: #D2D3D4;
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background-color: #A1A2A3;
  color: #222;
}

.mat-select-panel .mat-option {
  background-color: #F4F5F7;
}

.mat-select-panel {
  background-color: white;
}

.mat-stroked-button:not([disabled]) {
  background-color: white;
  color: #222;
  border-color: rgba(0, 0, 0, 0.2);
}

.mat-option,
.mat-select-arrow,
.mat-select-value,
input.mat-input-element,
.mat-expansion-indicator::after,
.mat-form-field-label {
  color: #222;
}

.mat-button.mat-primary[disabled],
.mat-button.mat-accent[disabled],
.mat-button.mat-warn[disabled],
.mat-button[disabled][disabled],
.mat-icon-button.mat-primary[disabled],
.mat-icon-button.mat-accent[disabled],
.mat-icon-button.mat-warn[disabled],
.mat-icon-button[disabled][disabled],
.mat-stroked-button.mat-primary[disabled],
.mat-stroked-button.mat-accent[disabled],
.mat-stroked-button.mat-warn[disabled],
.mat-stroked-button[disabled][disabled] {
  color: rgba(0, 0, 0, 0.12);
}

@media (prefers-color-scheme:dark) {

  html,
  body {
    background-color: black;
    color: #ddd;
  }

  .dis-color {
    color: #0b8a55;
  }

  .mac-color {
    color: #5165ec;
  }

  .gro-color {
    color: #777e83;
  }

  .dis-bgcolor {
    background-color: #0b8a55;
  }

  .mac-bgcolor {
    background-color: #5165ec;
  }

  .gro-cbgolor {
    background-color: #777e83;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(255, 255, 255, 0.3);
  }

  .mat-option:hover:not(.mat-option-disabled),
  .mat-option:focus:not(.mat-option-disabled) {
    background-color: #424446;
  }

  .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background-color: #636669;
    color: #ddd;
  }

  .mat-select-panel .mat-option {
    background-color: #212223;
  }

  .mat-select-panel {
    background-color: black;
  }

  button.mat-stroked-button:not([disabled]) {
    background-color: black;
    color: #ddd;
    border-color: rgba(255, 255, 255, 0.3);
  }

  .mat-option,
  .mat-select-arrow,
  .mat-select-value,
  input.mat-input-element,
  .mat-expansion-indicator::after,
  .mat-form-field-label {
    color: #ddd;
  }

  .mat-button.mat-primary[disabled],
  .mat-button.mat-accent[disabled],
  .mat-button.mat-warn[disabled],
  .mat-button[disabled][disabled],
  .mat-icon-button.mat-primary[disabled],
  .mat-icon-button.mat-accent[disabled],
  .mat-icon-button.mat-warn[disabled],
  .mat-icon-button[disabled][disabled],
  .mat-stroked-button.mat-primary[disabled],
  .mat-stroked-button.mat-accent[disabled],
  .mat-stroked-button.mat-warn[disabled],
  .mat-stroked-button[disabled][disabled] {
    color: rgba(255, 255, 255, 0.18);
  }
}
