<dis-image-carousel [slides]="slides"></dis-image-carousel>
<section>
  <div class="container">
    <dis-products-text></dis-products-text>
  </div>
</section>
<section>
  <div class="container">
    <dis-products-search></dis-products-search>
  </div>
</section>
<section>
  <div class="container">
    <dis-products-categories></dis-products-categories>
  </div>
</section>
<section>
  <div class="container">
    <dis-products-best-selling></dis-products-best-selling>
  </div>
</section>
<section>
  <div class="container">
    <dis-contact-footer></dis-contact-footer>
  </div>
</section>
