<div class="container">
  <div class="placeholder">
    <h2 translate="aboutStrategy"></h2>
    <div class="about-strategy">
      <p translate="aboutStrategyText1"></p>
      <h4 translate="aboutStrategyTitle1"></h4>
      <p translate="aboutStrategyText2"></p>
      <h4 translate="aboutStrategyTitle2"></h4>
      <p translate="aboutStrategyText3"></p>
      <h4 translate="aboutStrategyTitle3"></h4>
      <p translate="aboutStrategyText4"></p>
      <h4 translate="aboutStrategyTitle4"></h4>
      <p translate="aboutStrategyText5"></p>
    </div>
  </div>
</div>
