<h3 translate="components.order.order-methods.order-method-shop.title"></h3>
<div class="placeholder">
  <p translate="components.order.order-methods.order-method-shop.text"></p>
</div>

<a href="https://shop.claes-distribution.be/login?action=signin">
  <button color="primary">
    <span translate="components.order.order-methods.order-method-shop.button-1"></span>
  </button>
</a>
<a href="https://shop.claes-distribution.be/login?action=signin">
  <button color="primary">
    <span translate="components.order.order-methods.order-method-shop.button-2"></span>
  </button>
</a>
<a href="https://shop.claes-distribution.be/login?action=signin">
  <button color="primary">
    <span translate="components.order.order-methods.order-method-shop.button-3"></span>
  </button>
</a>
