<h3>
  <i class="fal fa-fw fa-shopping-basket"></i>
  <span translate="components.order.order-methods.order-method-shop.title"></span>
</h3>
<div class="placeholder">
  <p [innerHtml]="'components.order.order-methods.order-method-shop.text' | translate"></p>
</div>

<div class="buttons-placeholder">
  <a rel="noreferrer noopener" href="https://shop.claes-distribution.be/login?action=signin" target="_blank">
    <button color="primary">
      <i class="fal fa-fw fa-sign-in"></i>&nbsp;
      <span translate="components.order.order-methods.order-method-shop.button-1"></span>
    </button>
  </a>
  <a rel="noreferrer noopener" href="https://shop.claes-distribution.be/login?action=signon" target="_blank">
    <button color="primary">
      <i class="fal fa-fw fa-pen"></i>&nbsp;
      <span translate="components.order.order-methods.order-method-shop.button-2"></span>
    </button>
  </a>
  <a rel="noreferrer noopener" href="https://shop.claes-distribution.be/login?action=signup" target="_blank">
    <button color="primary">
      <i class="fal fa-fw fa-user"></i>&nbsp;
      <span translate="components.order.order-methods.order-method-shop.button-3"></span>
    </button>
  </a>
</div>
