<div class="email-disclaimer container">
  <div class="placeholder">
    <h2 translate="pages.email-disclaimer.title"></h2>
    <b translate="pages.email-disclaimer.subtitle"></b>
    <p [innerHtml]="'pages.email-disclaimer.text1' | translate"></p>
    <p [innerHtml]="'pages.email-disclaimer.text2' | translate"></p>
    <p [innerHtml]="'pages.email-disclaimer.text3' | translate"></p>
    <p [innerHtml]="'pages.email-disclaimer.text4' | translate"></p>
    <p [innerHtml]="'pages.email-disclaimer.text5' | translate"></p>
    <br>
    <div class="line"></div>
    <p [innerHtml]="'pages.email-disclaimer.footer' | translate"></p>
  </div>
</div>
