<h3>
  <i class="fal fa-fw fa-mobile"></i>
  <span translate="components.order.order-methods.order-method-app.title"></span>
</h3>
<div class="placeholder">
  <p [innerHtml]="'components.order.order-methods.order-method-app.text' | translate"></p>
</div>

<div class="buttons-placeholder">
  <a href="https://news.groupclaes.be/Bestellen-is-n%C3%B3g-simpeler-met-onze-app/34?cc={{culture}}">
    <button color="primary">
      <i class="fal fa-fw fa-download"></i>&nbsp;
      <span translate="components.order.order-methods.order-method-app.button-1"></span>
    </button>
  </a>
</div>
