<h2 translate="components.about.about-mission.title"></h2>
<div class="placeholder">
  <p [innerHtml]="'components.about.about-mission.text' | translate"></p>
</div>
<h3>
  <i class="fal fa-fw fa-handshake"></i>&nbsp;
  <span translate="components.about.about-mission.block-collab.title"></span>
</h3>
<div class="placeholder">
  <p [innerHtml]="'components.about.about-mission.block-collab.text' | translate"></p>
</div>

<h3>
  <i class="fal fa-fw fa-sparkles"></i>&nbsp;
  <span translate="components.about.about-mission.block-attract.title"></span>
</h3>
<div class="placeholder">
  <p [innerHtml]="'components.about.about-mission.block-attract.text' | translate"></p>
</div>

<h3>
  <i class="fal fa-fw fa-head-side-brain"></i>&nbsp;
  <span translate="components.about.about-mission.block-think.title"></span>
</h3>
<div class="placeholder">
  <p [innerHtml]="'components.about.about-mission.block-think.text' | translate"></p>
</div>

<h3>
  <i class="fal fa-fw fa-people-arrows"></i>&nbsp;
  <span translate="components.about.about-mission.block-adapt.title"></span>
</h3>
<div class="placeholder">
  <p [innerHtml]="'components.about.about-mission.block-adapt.text' | translate"></p>
</div>
