<h3 translate="openingHours"></h3>
<div class="container">
  <div class="opening office-opening">
    <span class="title">
      <i class="fal fa-fw fa-phone-office fa-lg"></i>&nbsp;<span translate="openingOffices"></span>
    </span>
    <div class="opening-grid">
      <span class="day" translate="monday"></span>
      <span class="period">: 08:00 - 12:00 | 13:00 - 17:00</span>
      <span class="day" translate="tuesday"></span>
      <span class="period">: 08:00 - 12:00 | 13:00 - 17:00</span>
      <span class="day" translate="wednesday"></span>
      <span class="period">: 08:00 - 12:00 | 13:00 - 17:00</span>
      <span class="day" translate="thursday"></span>
      <span class="period">: 08:00 - 12:00 | 13:00 - 17:00</span>
      <span class="day" translate="friday"></span>
      <span class="period">: 08:00 - 12:00 | 13:00 - 16:00</span>
    </div>
  </div>
  <div class="opening store-opening">
    <span class="title">
      <i class="fal fa-fw fa-bags-shopping fa-lg"></i>&nbsp;<span translate="openingStore"></span>
    </span>
    <div class="opening-grid">
      <span class="day" translate="monday"></span>
      <span class="period">: 08:00 - 12:00 | 13:00 - 18:00</span>
      <span class="day" translate="tuesday"></span>
      <span class="period">: 08:00 - 12:00 | 13:00 - 18:00</span>
      <span class="day" translate="wednesday"></span>
      <span class="period">: 08:00 - 12:00 | 13:00 - 18:00</span>
      <span class="day" translate="thursday"></span>
      <span class="period">: 08:00 - 12:00 | 13:00 - 18:00</span>
      <span class="day" translate="friday"></span>
      <span class="period">: 08:00 - 12:00 | 13:00 - 17:00</span>
    </div>
  </div>
  <div class="opening wharehouse-opening">
    <span class="title">
      <i class="fal fa-fw fa-truck fa-lg"></i>&nbsp;<span translate="openingWharehouse"></span>
    </span>
    <div class="opening-grid">
      <span class="day" translate="monday"></span>
      <span class="period">: 08:00 - 12:00 | 13:00 - 15:00</span>
      <span class="day" translate="tuesday"></span>
      <span class="period">: 08:00 - 12:00 | 13:00 - 15:00</span>
      <span class="day" translate="wednesday"></span>
      <span class="period">: 08:00 - 12:00 | 13:00 - 15:00</span>
      <span class="day" translate="thursday"></span>
      <span class="period">: 08:00 - 12:00 | 13:00 - 15:00</span>
      <span class="day" translate="friday"></span>
      <span class="period">: 08:00 - 12:00 | <i translate="closed"></i></span>
    </div>
  </div>
</div>
