:host {
  display: block;

  h2 {
    font-size: 30px;
    margin: .5em 0 .3em;
  }

  div.placeholder {
    width: 66.6666666667%;
    margin-left: 16.6666666667%;

    p {
      display: block;
      text-align: center;
    }
  }

  a {
    text-align: center;
    display: block;
  }
}
