<div class="leaflet-recipes-grid">
  <div class="leaflet">
    <h2 translate="components.home.home-leaflet-recipes.block-leaflet.title"></h2>
    <a [routerLink]="['/inspire']" [title]="'components.home.home-leaflet-recipes.block-leaflet.button' | translate">
      <img src="https://pcm.groupclaes.be/v3/content/dis/website/news-image/1001" height="280" width="280" alt="">
    </a>
    <p translate="components.home.home-leaflet-recipes.block-leaflet.text"></p>
    <a [routerLink]="['/inspire']" [title]="'components.home.home-leaflet-recipes.block-leaflet.button' | translate">
      <button color="primary">
        <i class="fal fa-fw fa-eye"></i>&nbsp;
        <span translate="components.home.home-leaflet-recipes.block-leaflet.button"></span>
      </button>
    </a>
  </div>
  <div class="recipes">
    <h2 translate="components.home.home-leaflet-recipes.block-recipes.title"></h2>
    <a rel="noreferrer noopener" href="https://recepten.claes-distribution.be" target="_blank"
      [title]="'components.home.home-leaflet-recipes.block-recipes.button' | translate">
      <img src="https://pcm.groupclaes.be/v3/content/dis/website/content-image/104162143955494" alt="">
    </a>
    <p translate="components.home.home-leaflet-recipes.block-recipes.text"></p>
    <a rel="noreferrer noopener" href="https://recepten.claes-distribution.be" target="_blank"
      [title]="'components.home.home-leaflet-recipes.block-recipes.button' | translate">
      <button color="primary">
        <i class="fal fa-fw fa-utensils"></i>&nbsp;
        <span translate="components.home.home-leaflet-recipes.block-recipes.button"></span>
      </button>
    </a>
  </div>
</div>
