<dis-image-carousel [slides]="slides"></dis-image-carousel>
<section>
  <div class="container">
    <dis-home-text></dis-home-text>
  </div>
</section>
<section>
  <div class="container">
    <dis-home-products-order></dis-home-products-order>
  </div>
</section>
<section>
  <div class="container">
    <dis-home-benefits></dis-home-benefits>
  </div>
</section>
<section>
  <div class="container">
    <dis-home-leaflet></dis-home-leaflet>
  </div>
</section>
<section>
  <div class="container">
    <dis-home-recipes-news></dis-home-recipes-news>
  </div>
</section>
<section>
  <div class="container">
    <dis-contact-subscribe></dis-contact-subscribe>
  </div>
</section>
<section>
  <div class="container">
    <dis-products-spotlight></dis-products-spotlight>
  </div>
</section>
<section>
  <div class="container">
    <dis-contact-footer></dis-contact-footer>
  </div>
</section>
