<footer>
  <div class="footer-main">
    <div class="container">
      <div class="company-info">
        <p style="margin-top:0">
          Beverlosesteenweg 128<br />
          3583 Paal-Beringen<br />
          <span translate="belgium"></span>
        </p>
        <p>
          BE 0429.732.170
        </p>
        <p>
          <i class="fal fa-fw fa-phone"></i>&nbsp;<a href="tel:003211456200">+32 11 45 62 00</a><br />
          <i class="fal fa-fw fa-fax"></i> +32 11 43 26 27<br />
          <i class="fal fa-fw fa-envelope"></i>&nbsp;<a
            href="mailto:info@claes-distribution.be">info@claes-distribution.be</a>
        </p>
      </div>
      <div class="company-opening">
        <span class="title" translate="components.footer.opening-hours.title"></span>
        <div class="opening-grid">
          <span class="day" translate="days.short.monday"></span>
          <span class="period">: 08:00 - 12:00 | 13:00 - 17:00</span>
          <span class="day" translate="days.short.tuesday"></span>
          <span class="period">: 08:00 - 12:00 | 13:00 - 17:00</span>
          <span class="day" translate="days.short.wednesday"></span>
          <span class="period">: 08:00 - 12:00 | 13:00 - 17:00</span>
          <span class="day" translate="days.short.thursday"></span>
          <span class="period">: 08:00 - 12:00 | 13:00 - 17:00</span>
          <span class="day" translate="days.short.friday"></span>
          <span class="period">: 08:00 - 12:00 | 13:00 - 16:00</span>
        </div>
      </div>
      <div class="social-links">
        <span translate="components.footer.social-links.linkedIn"></span><br>
        <a rel="noreferrer noopener" href="https://www.linkedin.com/company/claes-food-projects/" target="_blank">
          <i class="fab fa-2x fa-linkedin"></i>
        </a>
        <br>
        <br>
        <span translate="components.footer.social-links.youtube"></span><br>
        <a rel="noreferrer noopener" href="https://www.youtube.com/user/ClaesDistribution" target="_blank">
          <i class="fab fa-2x fa-youtube"></i>
        </a>
        <br>
        <br>
        <span translate="components.footer.social-links.google"></span><br>
        <a rel="noreferrer noopener"
          href="https://www.google.com/maps/place/data=!4m3!3m2!1s0x47c13a690eff8cf7:0xc41e6990a7d39adb!12e1?source=g.page.m.ma._&laa=merchant-panel-review-solicitation-action"
          target="_blank">
          <pcm-website-logo width="25" height="26" company="gro" id="12044"></pcm-website-logo>
        </a>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="select-language">
          <button mat-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="languageMenu">
            <i class="fas fa-globe-europe fa-lg"></i>&nbsp; <span [textContent]="'languages.'+culture" translate></span>
          </button>
          <mat-menu #languageMenu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item *ngFor="let language of languages" (click)="menuTrigger.closeMenu();lang(language)">
              <span [textContent]="'languages.'+language" translate></span>
            </button>
          </mat-menu>
        </div>
        <div class="company-list">
          <a rel="noreferrer noopener" href="https://www.claes-machines.be/" class="mac-color" target="_blank">
            <pcm-website-logo width="55" height="28" company="mac"></pcm-website-logo>
          </a>
          <a rel="noreferrer noopener" href="https://www.groupclaes.be/" class="gro-color" target="_blank">
            <pcm-website-logo width="55" height="28" company="gro"></pcm-website-logo>
          </a>
        </div>
        <div class="copyright">
          <a rel="noreferrer noopener" href="https://www.claes-distribution.be/privacy-policy" target="_blank">Privacy
            policy</a> -
          Copyright <i class="fal fa-copyright fa-sm"></i>
          {{ today | date:'yyyy' }} -
          <a rel="noreferrer noopener" href="https://www.claes-distribution.be" target="_blank" class="dis-color"
            translate="companies.dis"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
