:host {
  display: block;

  div.container {
    div.placeholder {
      width: 66.6666666667%;
      margin-left: 16.6666666667%;

      h3 {
        margin-bottom: .4em;
      }

      video.videoplayer {
        display: block;
        -o-object-fit: cover;
        object-fit: cover;
        width: 90%;
        margin: 0 5%;
        background-color: #f4f5f7;

        @media screen and (prefers-color-scheme: dark) {
          background-color: #111214;
        }
      }
    }
  }
}
