:host {
  display: block;

  div {
    h3 {
      margin: 0 0 1em 0;
    }

    div.news-grid {
      position: relative;

      article {
        padding: 15px 0;

        img {
          height: 240px;
          object-fit: cover;
          object-position: center center;
          margin: 0 auto;
          display: block;
        }

        h4 {
          font-weight: bold;
          margin: 12px 0;
          font-size: 20px;
          height: 60px;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        p {
          height: 60px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          width: 66.6666666667%;
          margin-left: 16.6666666667%;
          // text-align: justify;
        }

        a button {
          display: block;
          margin: 0 auto;
        }
      }

      article+article {
        border-top: 1px solid #ccc;
      }

      .previous-item {
        position: absolute;
        left: -66px;
        height: 100%;
      }

      .next-item {
        position: absolute;
        right: -66px;
        height: 100%;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  :host {
    div {
      div.news-grid {
        display: flex;
        flex-wrap: wrap;

        article {
          flex: 0 33.3333%;
          padding: 0;
          margin: 0 auto 24px;

          padding: 0 7.5px;

          p {
            width: 100%;
            margin-left: initial;
          }

          // a button {
          //   margin: 0;
          // }
        }

        article+article {
          border-top: none;
        }
      }
    }
  }
}
