<div>
  <h3 translate="components.news.title"></h3>
  <div class="news-grid" *ngIf="!loading">
    <article *ngFor="let news of newsList | slice:0:maxItems; let i = index" [ngClass]="'newsitem-' + i">
      <img [src]="news.image" [alt]="news.title[culture]">
      <h4 [innerText]="news.title[culture]"></h4>
      <p>
        <i [innerText]="news.description[culture]"></i>
      </p>
      <a href="#" (click)="open(news, $event)" [title]="news.ctaText[culture]" *ngIf="!news.ctaHref">
        <button color="primary">
          <i class="fal fa-fw" [ngClass]="news.icon"></i>&nbsp;
          <span [innerText]="news.ctaText[culture]"></span>
        </button>
      </a>
      <a [href]="newsHref(news.ctaHref)" target="_blank" [title]="news.ctaText[culture]" *ngIf="news.ctaHref">
        <button color="primary">
          <i class="fal fa-fw" [ngClass]="news.icon"></i>&nbsp;
          <span [innerText]="news.ctaText[culture]"></span>
        </button>
      </a>
    </article>
  </div>
  <div style="text-align:center;border-top:1px solid #ccc;padding-top:24px" *ngIf="additionalAvailable">
    <button color="primary" (click)="loadMore()">
      <span translate="components.news.button"></span>&nbsp;
      <i class="fal fa-fw fa-chevron-circle-down"></i>
    </button>
  </div>
  <div *ngIf="loading || loadingAdditional" style="text-align:center">
    <i class="fal fa-fw fa-2x fa-circle-notch fa-spin"></i>
  </div>
</div>

<dis-blogpost-popup [blog]="currentBlog" (closed)="close()" *ngIf="currentBlog"></dis-blogpost-popup>
