:host {
  display: block;

  div {
    h2 {
      margin: 0 0 1em 0;
      font-size: 32px;
    }

    div.news-grid {
      position: relative;

      article {
        padding: 15px 0;

        img {
          height: 240px;
          object-fit: cover;
          object-position: center center;
          margin: 0 auto;
          display: block;
        }

        h3 {
          font-weight: bold;
          margin: 12px 0;
          font-size: 20px;
        }

        p {
          width: 66.6666666667%;
          margin-left: 16.6666666667%;
          // text-align: justify;
        }

        a button {
          display: block;
          margin: 0 auto;
        }
      }

      article+article {
        border-top: var(--list-seperator-border);
      }

      .previous-item {
        position: absolute;
        left: -66px;
        height: 100%;
      }

      .next-item {
        position: absolute;
        right: -66px;
        height: 100%;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  :host {
    div {
      div.news-grid {
        display: flex;
        flex-wrap: wrap;

        article {
          flex: 0 33.3333%;
          margin: 0 auto 24px;
          padding: 0 10px;

          h3 {
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            height: 60px;
          }

          p {
            height: 60px;
            width: 100%;
            margin-left: initial;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            text-align: center;
          }

          // a button {
          //   margin: 0;
          // }
        }

        article+article {
          border-top: none
        }

        article:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(2))+article {
          border-top: var(--list-seperator-border);
          padding-top: 24px;
        }
      }
    }
  }
}
