<div>
  <h2 translate="components.news.title"></h2>
  <div class="news-grid" *ngIf="!loading">
    <article *ngFor="let news of newsList | slice:0:maxItems; let i = index" [ngClass]="'newsitem-' + i">
      <a href="#" (click)="open(news, $event)" [title]="news.ctaText[culture]" *ngIf="!news.ctaHref">
        <img [src]="news.image" [alt]="news.title[culture]">
      </a>
      <a rel="noreferrer noopener" [href]="newsHref(news.ctaHref)" target="_blank" [title]="news.ctaText[culture]"
        *ngIf="news.ctaHref">
        <img [src]="news.image" [alt]="news.title[culture]">
      </a>
      <h3 [innerText]="news.title[culture]"></h3>
      <p>
        <i [innerText]="news.description[culture]"></i>
      </p>
      <a href="#" (click)="open(news, $event)" [title]="news.ctaText[culture]" *ngIf="!news.ctaHref">
        <button color="">
          <i class="fal fa-fw" [ngClass]="news.icon"></i>&nbsp;
          <span [innerText]="news.ctaText[culture]"></span>
        </button>
      </a>
      <a rel="noreferrer noopener" [href]="newsHref(news.ctaHref)" target="_blank" [title]="news.ctaText[culture]"
        *ngIf="news.ctaHref">
        <button color="">
          <i class="fal fa-fw" [ngClass]="news.icon"></i>&nbsp;
          <span [innerText]="news.ctaText[culture]"></span>
        </button>
      </a>
    </article>
  </div>
  <div style="text-align:center;padding-top:24px" *ngIf="additionalAvailable">
    <button color="primary" (click)="loadMore()">
      <span translate="components.news.button"></span>&nbsp;
      <i class="fal fa-fw fa-cloud-download"></i>
    </button>
  </div>
  <div *ngIf="loading || loadingAdditional" style="text-align:center">
    <i class="fal fa-fw fa-2x fa-circle-notch fa-spin"></i>
  </div>
</div>

<dis-blogpost-popup [blog]="currentBlog" (closed)="close()" *ngIf="currentBlog"></dis-blogpost-popup>
