:host {
  display: block;
  position: relative;

  div {
    width: 66.6666666667%;
    margin-left: 16.6666666667%;

    h2 {
      font-size: 30px;
      margin: .5em 0 .3em;
    }

    p {
      display: block;
      text-align: justify;
    }

    p.image {
      display: block;
      text-align: center;

      img {
        border: #606060;
        border-style: none none solid;
        margin-bottom: 20px;
      }
    }
  }
}
