<div class="products-order-grid">
  <div class="products">
    <h2 translate="components.home.home-products-order.block-products.title"></h2>
    <p translate="components.home.home-products-order.block-products.text"></p>
    <a [routerLink]="['/products']" [title]="'components.home.home-products-order.block-products.button' | translate">
      <button color="primary">
        <i class="fal fa-fw fa-mouse-pointer"></i>&nbsp;
        <span translate="components.home.home-products-order.block-products.button"></span>
      </button>
    </a>
  </div>
  <div class="order">
    <h2 translate="components.home.home-products-order.block-order.title"></h2>
    <p translate="components.home.home-products-order.block-order.text"></p>
    <a [routerLink]="['/order']" [title]="'components.home.home-products-order.block-order.button' | translate">
      <button color="primary">
        <i class="fal fa-fw fa-tools"></i>&nbsp;
        <span translate="components.home.home-products-order.block-order.button"></span>
      </button>
    </a>
  </div>
</div>
