:host {
  display: block;

  div.products-order-grid {

    h2 {
      font-size: 30px;
      margin: .5em 0 .3em;
      text-align: center;
    }

    p {
      display: block;
      text-align: justify;
      width: 66.6666666667%;
      margin-left: 16.6666666667%;
    }

    a button {
      display: block;
      margin: 30px auto 0;
    }

    div.order {
      padding-top: 40px
    }
  }
}

@media screen and (min-width: 768px) {
  :host {
    div.products-order-grid {
      display: flex;

      div {
        position: relative;
        padding-bottom: 36px;
        flex: 1 50%;
        font-size: 16px;
        margin: 0 15px;
      }

      h2 {
        text-align: left;
      }

      p {
        width: initial;
        margin-left: initial;
      }

      a button {
        margin: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }

      div.order {
        padding-top: 0px;
      }

      div:first-child {
        margin-left: 0px;
      }

      div:last-child {
        margin-right: 0px;
      }
    }
  }
}
