:host {
  display: flex;
  flex-wrap: wrap;

  div.benefit {
    padding: 0 15px;
    flex: 1 100%;

    div.icon-block {
      text-align: center;
    }

    div.text-block {
      text-align: justify;
    }
  }

  @media screen and (min-width: 768px) {
    div.benefit {
      flex: 1 50%;
    }
  }

  @media screen and (min-width: 1024px) {
    div.benefit {
      flex: 1 25%;
    }
  }
}
