<div id="benefit-1" class="benefit">
  <div class="icon-block">
    <i class="fal fa-fw fa-3x fa-graduation-cap"></i>
  </div>
  <div class="title-block">
    <h3 translate="components.home.home-benefits.block-1.title"></h3>
  </div>
  <div class="text-block">
    <span [innerHtml]="'components.home.home-benefits.block-1.text' | translate"></span>
  </div>
</div>
<div id="benefit-2" class="benefit">
  <div class="icon-block">
    <i class="fal fa-fw fa-3x fa-award"></i>
  </div>
  <div class="title-block">
    <h3 translate="components.home.home-benefits.block-2.title"></h3>
  </div>
  <div class="text-block">
    <span [innerHtml]="'components.home.home-benefits.block-2.text' | translate"></span>
  </div>
</div>
<div id="benefit-3" class="benefit">
  <div class="icon-block">
    <i class="fal fa-fw fa-3x fa-repeat"></i>
  </div>
  <div class="title-block">
    <h3 translate="components.home.home-benefits.block-3.title"></h3>
  </div>
  <div class="text-block">
    <span [innerHtml]="'components.home.home-benefits.block-3.text' | translate"></span>
  </div>
</div>
<div id="benefit-4" class="benefit">
  <div class="icon-block">
    <i class="fal fa-fw fa-3x fa-check-double"></i>
  </div>
  <div class="title-block">
    <h3 translate="components.home.home-benefits.block-4.title"></h3>
  </div>
  <div class="text-block">
    <span [innerHtml]="'components.home.home-benefits.block-4.text' | translate"></span>
  </div>
</div>
