<div id="benefit-1" class="benefit">
  <div class="icon-block">
    <i class="fal fa-fw fa-3x fa-badge-check"></i>
  </div>
  <div class="title-block">
    <h3 translate="components.home.home-benefits.block-1.title"></h3>
  </div>
  <div class="text-block">
    <span translate="components.home.home-benefits.block-1.text"></span>
  </div>
</div>
<div id="benefit-2" class="benefit">
  <div class="icon-block">
    <i class="fal fa-fw fa-3x fa-badge-check"></i>
  </div>
  <div class="title-block">
    <h3 translate="components.home.home-benefits.block-2.title"></h3>
  </div>
  <div class="text-block">
    <span translate="components.home.home-benefits.block-2.text"></span>
  </div>
</div>
<div id="benefit-3" class="benefit">
  <div class="icon-block">
    <i class="fal fa-fw fa-3x fa-badge-check"></i>
  </div>
  <div class="title-block">
    <h3 translate="components.home.home-benefits.block-3.title"></h3>
  </div>
  <div class="text-block">
    <span translate="components.home.home-benefits.block-3.text"></span>
  </div>
</div>
<div id="benefit-4" class="benefit">
  <div class="icon-block">
    <i class="fal fa-fw fa-3x fa-badge-check"></i>
  </div>
  <div class="title-block">
    <h3 translate="components.home.home-benefits.block-4.title"></h3>
  </div>
  <div class="text-block">
    <span translate="components.home.home-benefits.block-4.text"></span>
  </div>
</div>
