<div class="container">
  <div class="placeholder">
    <h2 translate="aboutHistory"></h2>
    <div class="about-history">
      <h3>
        <span translate="mac"></span> &
        <span translate="dis"></span>
      </h3>
      <p translate="aboutHistoryText1"></p>
      <p translate="aboutHistoryText2"></p>
      <p translate="aboutHistoryText3"></p>
      <p translate="aboutHistoryText4"></p>
      <img src="https://pcm.groupclaes.be/v2/content/mac/website/content-image/200" width="auto" height="auto">
    </div>
  </div>
</div>
