<h3 translate="components.contact.contact-subscribe.title"></h3>
<div class="placeholder">
  <form [formGroup]="subscribeForm" (submit)="submit()">
    <mat-form-field class="email" appearance="outline">
      <mat-label>
        <span translate="components.contact.contact-form.email"></span>
      </mat-label>
      <input formControlName="email" autocomplete="email" matInput required>
    </mat-form-field>
    <br>
    <button [disabled]="subscribeForm.invalid" color="primary" type="submit">
      <span translate="components.contact.contact-subscribe.button"></span>&nbsp;
      <i class="fal fa-fw fa-long-arrow-right"></i>
    </button>
  </form>
</div>
