:host {
  display: block;

  div {
    position: relative;

    h3 {
      display: block;
    }

    img {
      display: block;
      margin: 0 auto;
      height: 160px;
      border: #606060;
      border-style: none none solid;
      margin-bottom: 20px;
    }

    p {
      display: block;
      max-width: 480px;
      margin: 12px auto;
      text-align: justify;
    }

    a {
      text-align: center;
      display: block;
    }
  }
}
