<div>
  <h3 translate="components.contact.contact-footer.title"></h3>
  <img src="https://pcm.groupclaes.be/v3/content/gro/marketing/frans/483598" height="160"
    alt="Frans_duim_omhoog Distribution bovenlijfje" />
  <p translate="components.contact.contact-footer.text"></p>
  <a [routerLink]="['/contact']" [title]="'components.contact.contact-footer.button' | translate">
    <button color="primary">
      <i class="fal fa-fw fa-info-circle"></i>&nbsp;
      <span translate="components.contact.contact-footer.button"></span>
    </button>
  </a>
</div>
